* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

body {

  font-size: 1.125rem;
  line-height: 1.61111em;
  font-weight: 500;
  margin: 1em auto;
  color: #33475b;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
}





.first_header {
  width: 80%;
  height: 100%;
}

.first_nav {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: oldlace;
  border-bottom: 0.5px solid #33475b;

}
.fa-globe {
  font-size: 12px;
}
.fa-search {
  color: #007a8c;
}
.first_nav_left a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9em;
  color: #756b6b;
}
.first_nav_right a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9em;
  border-radius: 5px;
  border: 1px solid #ff7a59;
}
.btn_empty {
  color: #ff7a59;
  background-color: white;
  padding: 10px;
}
.btn_filled {
  color: white;
  background-color: #ff7a59;
  padding: 10px;
}
.first_nav_left a:hover {
  color: #007a8c;
  text-decoration: underline;
}
.first_nav .first_nav_left {
  float: left;
}
.first_nav .first_nav_right {
  float: right;
}
.menu_inline {
  list-style: none;
}
.menu_inline li {
  display: inline;
  padding: 0 20px;
}







.second_header {
  width: 80%;
  height: 100%;
}
.second_nav {
  width: 100%;
  height: 80px;
  line-height: 80px;
  margin: 1% 0;
}
.second_nav_right a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9em;
  color: #756b6b;
}
.second_nav_right a:hover {
  color: #007a8c;
  text-decoration: underline;
}
.second_nav .second_nav_logo {
  float: left;
}
.second_nav .second_nav_right {
  float: right;
}




.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 110%;
}

.banner_text {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(-50%);
}

.banner_text h1 {
  margin-bottom: 30px;
  font-size: 46px;
  line-height: 60px;
}
.banner_text p {
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 50px;
}
.banner_text .mini_text {
  font-size: 14px;
  line-height: 23px;
  margin-top: 50px;
}
.banner_text a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9em;
  border-radius: 5px;
  border: 1px solid #ff7a59;
}
.btn_big_filled {
  color: white;
  background-color: #ff7a59;
  padding: 4% 8%;
  border: 1px solid #ff7a59;
}


.main_content_wrapper {
  margin: 0 auto;
  text-align: center;
  background-color: #f5f8fa;
}
.top_content img {
  height: 400px;
}
.top_content h2 {
  font-size: 2rem;
}
.top_content p {
  font-size: 1rem;
  margin-top: 1%;
}


.horizzontal_content {
  position: relative;
  width: 80%;
  height: 30vh;
  margin: 20px auto;
  background-image: url('../img/info_orizzontale.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 14% 30%;
  background-color: white;
}

.horizzontal_content a {
  position: absolute;
  bottom: 15%;
  left: 14%;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9em;
  border-radius: 5px;
  padding: 1% 2%;
}
.horizzontal_content_text {
  position: absolute;
  top: 25%;
  left: 30%;
}
.horizzontal_content_text h1 {
  font-size: 2rem;
  padding: 1%
}
.horizzontal_content_text p {
  font-size: 1rem;
  margin: 1%;
}

.horizzontal_content_text h2 {
  text-transform: uppercase;
  font-size: 1rem;
}

.horizzontal_content_text h2::after {
  position: absolute;
  bottom: 20%;
  left: 60%;
  content: '';
  display: block;
  width: 25%;
  height: 1px;
  background: #756b6b;
}

.fa-check-circle {
  color: #ff7a59;
}

#info {
  margin: 0 1%;
  padding: 40px 8%;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

#info::after {
  content: '';
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
  background-color: white;
}
.column img {
  height: 200px;
  margin: 5%;
}
.column h2 {
  text-transform: capitalize;
  margin: 5%;
}

.column hr {
  width: 80%;
  margin: 15% auto;
}
.column h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 5%;
}
.menu_block {
  list-style: none;
  margin-bottom: 5%;
}
.menu_block li {
  display: block;
  padding: 0 20px;
}
.column a {
  margin: 5%;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9em;
  font-size: 0.9em;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  color: white;
  }




  .table_content_wrapper {
    margin: 10 auto;
    text-align: center;
    background-color: blue;
  }

  .table_content_Head h1 {
    padding: 3%;
    font-size: 2rem;
    color: white;
  }
.table_content_Head h4 {
  font-size: 0.9rem;
  color: white;
}
